body {
	font-family: 'Raleway', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #394A51; /*dark blue*/
}

.wrapper {
  width: 100%;
  /*adds opacity to background*/  
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../images/sunrise-road.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#title-text {
	text-align: center;
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FDC57B;
	padding: 15px 0;
}

.chart {
	background-color: #D2EBCD; /*green*/
	margin: 10% 10% 10% 10%;
	border-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #394A51;
}

.line-item {
	float: left;
	padding-top: 17px;
}

#zones-float-right {
	float: right;
	color: #FDC57B;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 38px;
	padding-right: 110px;
}

table {
	width: 100%;
}

#chart-title {
	background-color: #394A51;
	color: #FDC57B;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 38px;
	margin-right: 30px;
	margin-left: 30px;
	height: 70px;
}

#input-ftp {
	border-radius: 8px;
	font-size: 26px;
	background-color: rgba(255, 255, 255, .7);
	border-bottom: none;
	width: 60px;
	padding-bottom: 5px;
	color: #394A51;
}

#input-ftp:focus {
	outline:none;
}

.myBtn {
	display: inline-block;
	padding: 7px 40px;
	background-color: rgba(255, 255, 255, .7);
	border: none;
	outline: none;
	border-radius: 0px;
	font-size: 21px;
	margin-left: 60px;
	cursor: pointer;
	border-radius: 15px;
  	color: #394A51;
}

.myBtn:hover {
	background: #D2EBCD;
	transition: 300ms ease-in;
}

.myBtn:active {
	background-color: #FBF2D5;
}

.zone {
	text-align: left;
	width: 70%;
	padding-left: 20px;
}

.calc {
	text-align: center;
	width: 30%;
	opacity: 0; 
	transform: scale(1.10); 
}

.calc-animate {
	opacity: 1;
	text-align: center;
	width: 30%;
	transition: all 500ms ease-in;
	transform: scale(1);
}

tr {
	letter-spacing: 1px;
	line-height: 45px;
	/*color: #394A51;*/

	font-size: 21px;
}

tr:nth-child(even) {
	/*background-color: #FBF2D5;*/
	background-color: rgba(255, 255, 255, .7);
}

* {
    box-sizing: border-box;
}

/* Start Zone Information Section */

.wrapper_1 {
    background-color: rgba(78, 65, 59, 0.3);
    width: 100%;
    margin-top: 0px;
    padding-bottom: 20px;
    overflow: hidden;

}

.zone-info {
	background-color: #394A51;
	/*background-color: #FBF2D5;*/
	max-width: 1200px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.title__title-2 {
	text-align: center;
	font-size: 44px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FDC57B;
	padding: 15px 0 15px 0;
}

hr {
	border: 1px solid #FDC57B;
	width: 70%;
	margin-bottom: 30px;
}

.z-info-title {
	font-size: 28px;
	font-weight: bold;
	background-color: #D2EBCD;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 20px 0 20px;
	opacity: 0;
	transition: all 600ms ease-in;
	transform: scale(1.03);

}

.js-row-animate {
	opacity: 1;
	transform: scale(1);
}

.column {
	width: 30%;
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, .7); 
	text-align: center;
    line-height: 1.7;
    color: #394A51;
    font-size: 18px;
    padding: 10px 10px 0 10px;
}

/*Media Query 767px*/
@media (max-width: 767px) {
  
  .column {
   width: 100%;
  }

  .myBtn {
	margin-bottom: 20px;
	margin-left: 0; 
	width: 100%; 
  }

  #chart-title {
  	margin-left: 45px;
  }

  .line-item.-forButton {
  	width: 80%;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  }

  .zone {
  	font-size: 16px;
  }

  .calc {
  	font-size: 16px;
  }
}

p {
	margin-top: 15px;
}

footer {
	text-align: center;
	background-color: #394A51;
	color: #FDC57B;
	padding-bottom: 20px;
	padding-top: 20px;
}



















